<a href="https://colab.research.google.com/github/elnazsn1988/Black-Literrman-Modelling---Tests/blob/master/google_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
url = ('https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv')
data1=pd.read_csv(url)
data=pd.DataFrame(data1)
df=data
#--------check nulls
df[df.isna().any(axis=1)]
df[df.isnull().any(axis=1)]
##-----------check duplicates 
mask = df.duplicated(keep=False)
print(mask)
df[mask] = []

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []

In [45]:
mask2 = df.duplicated(subset=['total_bill','sex','smoker'],keep=False)
list(df)
df.head(10)
#print(mask)
df[mask2]
#df[~mask]

     total_bill   tip     sex smoker   day    time  size
16        10.33  1.67  Female     No   Sun  Dinner     3
136       10.33  2.00  Female     No  Thur   Lunch     2
190       15.69  1.50    Male    Yes   Sun  Dinner     2
198       13.00  2.00  Female    Yes  Thur   Lunch     2
202       13.00  2.00  Female    Yes  Thur   Lunch     2
231       15.69  3.00    Male    Yes   Sat  Dinner     3